@font-face {
	font-family: "STARWARS";
	src: url("fonts/STARWARS.eot?") format("eot"),
		url("fonts/STARWARS.woff") format("woff"),
		url("fonts/STARWARS.ttf") format("truetype"),
		url("fonts/STARWARS.svg#STARWARS") format("svg");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background: url(images/bfg.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	font-family: "STARWARS", sans-serif;
}

#cards {
	background: #A2BFD7;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 3.5px;
	margin: 0 auto;
	margin-top: 180px;
}

#cards li {
	list-style: none;
	background: #BEDAF1;
	width: 96px;
	border: 2px solid #A2BFD7;
	border-radius: 10px;
	float: left;
	height: 96px;
	background-image: url("images/back.png");
	background-repeat: no-repeat;
	cursor: pointer;
	background-size: 70px auto;
	background-position: center;
	transition: visibility .6s ease-in-out;
}


#reset {
	background: #FFF;
	border: 4px solid #251651;
	border-radius: 10px;
	width: 200px;
	padding: 20px;
	height: 84px;
	color: #251651;
	position: absolute;
	top: calc(50% - 60px);
	left: calc(50% - 128px);
	display: none;
}

#reset h2 {
	font-size: 40px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

#reset button {
	border: 2px solid #251651;
	color: #251651;
	font-size: 24px;
	border-radius: 4px;
	display: block;
	margin: 15px auto 0;
	cursor: pointer;
	padding: 8px 15px 5px;
	text-transform: uppercase;
	background: #FFF;
	font-family: "STARWARS", sans-serif;
}

#reset button:hover {
	background: #251651;
	color: #FFF;
}